.wx-mat-icon-xs{
    height: 14px;
    width: 14px;
    font-size: 14px;
}

.wx-mat-icon-sm{
    height: 18px;
    width: 18px;
    font-size: 18px;
}

.wx-small-font{
    font-size: 10px;
    line-height: normal;
}
