<div class="container-fluid">

    <div class="border-bottom py-2 h5">Reset Password</div>

    <div class="row justify-content-lg-center mt-3">
        <div class="col col-lg-8">
            <mat-card  *ngIf="user">
                
               <div>To reset password for <strong>{{user.firstName}} {{user.lastName}}</strong> enter correct email address associated 
                with the account and enter new password.</div>

                <form [formGroup]="resetPasswordForm" (submit)="onSubmit()">
                    <mat-card-content class="mb-0">
                        <mat-form-field class="w-100">
                            <input placeholder="Email" matInput formControlName="email">

                            <mat-icon class="text-success font-weight-bolder" *ngIf="f.email.valid && f.email?.touched" matSuffix>done</mat-icon>
                            <mat-icon class="text-danger font-weight-bolder" *ngIf="!f.email.valid && f.email?.touched" matSuffix>done</mat-icon>
                        </mat-form-field>

                        <mat-form-field class="w-100">
                            <input placeholder="Password" matInput [type]="fieldType" formControlName="password">

                            <button type="button" mat-icon-button matSuffix aria-label="Make password visible" (click)="fieldType = 'text'" *ngIf="fieldType == 'password'">
                                <mat-icon>visibility</mat-icon>
                            </button>
                            <button type="button" mat-icon-button matSuffix aria-label="Make password visible" (click)="fieldType = 'password'" *ngIf="fieldType == 'text'">
                                <mat-icon>visibility_off</mat-icon>
                            </button>

                            <mat-icon class="text-success font-weight-bolder" *ngIf="f.password.valid && f.password?.touched" matSuffix>done</mat-icon>
                            <mat-icon class="text-danger font-weight-bolder" *ngIf="!f.password.valid && f.password?.touched" matSuffix>done</mat-icon>

                            <mat-hint class="text-warning">
                                <div class="row row-cols-3">
                                    <div class="col">Min 1 uppercase letter.</div>
                                    <div class="col">Min 1 lowercase letter.</div>
                                    <div class="col">Min 1 special character out of !@#$%^&*.</div>
                                    <div class="col">Min 1 number.</div>
                                    <div class="col">Min 7 characters.</div>
                                    <div class="col">Max 35 characters.</div>
                                </div>
                            </mat-hint>
                        </mat-form-field>

                        <mat-form-field class="w-100 mt-4">
                            <input placeholder="Confirm Password" matInput [type]="fieldType" formControlName="confirmPassword">

                            <button type="button" mat-icon-button matSuffix aria-label="Make password visible" (click)="fieldType = 'text'" *ngIf="fieldType == 'password'">
                                <mat-icon>visibility</mat-icon>
                            </button>
                            <button type="button" mat-icon-button matSuffix aria-label="Make password visible" (click)="fieldType = 'password'" *ngIf="fieldType == 'text'">
                                <mat-icon>visibility_off</mat-icon>
                            </button>

                            <mat-icon class="text-success font-weight-bolder" *ngIf="f.confirmPassword.valid && f.confirmPassword?.touched" matSuffix>done</mat-icon>
                            <mat-icon class="text-danger font-weight-bolder" *ngIf="!f.confirmPassword.valid && f.confirmPassword?.touched" matSuffix>done</mat-icon>
                        </mat-form-field>
                    </mat-card-content>
    
                    <mat-card-actions align="end" class="mb-0">
                        <button mat-raised-button type=submit color="primary" [disabled]="isSaving || !resetPasswordForm.valid">SAVE ALL CHANGES</button>
                    </mat-card-actions>
                </form> 

            </mat-card>
        </div>
    </div>

</div>