<div class="container-fluid">

    <div class="row mt-3">
        <form class="col" [formGroup]="menuItemForm" (ngSubmit)="onSubmit()">
            
            <div class="row">
                <div class="col">
                    <mat-form-field class="w-100">
                        <mat-label>Name</mat-label>
                        <input matInput placeholder="Name" formControlName="name">
                    </mat-form-field>
                </div>

                <div class="col">
                    <mat-form-field class="w-100">
                        <mat-label>Alias</mat-label>
                        <input matInput placeholder="Alias" formControlName="alias">
                    </mat-form-field>
                </div>

                <div class="col">
                    <mat-form-field class="w-100">
                        <mat-label>Department</mat-label>
                        <input matInput placeholder="Department" formControlName="department">
                    </mat-form-field>
                </div>

                <div class="col">
                    <mat-form-field class="w-100">
                        <mat-label>Price</mat-label>
                        <input matInput placeholder="Price" formControlName="price">
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <mat-form-field class="w-100">
                        <mat-label>Description</mat-label>
                        <textarea matInput placeholder="Description" formControlName="description"></textarea>
                    </mat-form-field>
                </div>                
            </div>

            <div class="bottom-0 end-0 mb-3 me-3 position-fixed wx-z-index-1">
                <button type="submit" mat-raised-button color="primary" [disabled]="isSaving || !menuItemForm.valid">SAVE ALL CHANGES</button>
            </div>

        </form>
    </div>

</div>
